!3p-community-vrmod
!makefile
!llviewerVR*.cpp
!llviewerVR*.hpp
!llviewerVR*.h
!llviewerVR*.c++
!vrmod.*.hpp
!patches
!polyfills

*.sig
*.bsdiff
*.delta
*.7z
*.zip
*.xd3
bin
tmp
*.tmp
*.cpp
*.h
*.hpp
*.orig
*.rej
*.obj
*.swp
*.not
*.d
*.exe
*.exe.tmp*
*.lib
*.pdb
*.bin
*.tar.gz
*.tgz
a.out
*.log
*.jpg
*.png
/steamuser
/snapshot
/env
/build
/holostorm
/ofc
/old
/winsdk
/llvm
/snapshot
/fs-open