*.tmp
*.cpp
*.obj
*.not
*.d
*.exe
*.exe.tmp*
*.lib
*.pdb
*.bin
*.tar.gz
*.tgz
*.blend
*.glb
*.gltf
a.out
textures/
*.h
*.log
*.jpg
*.png
/steamuser
/snapshot
/env
/build
/holostorm
/ofc
/old
/winsdk
/llvm
/snapshot
!/snapshot/source
