# .github/workflows/manual-debug.yml
name: 'devtime-test'
on:
  workflow_dispatch:
    inputs:
        artifact:
            type: string
            required: true
        runner:
          required: true
          type: choice
          options:
            - windows-latest
            - ubuntu-latest
            - ubuntu-slim
            - macos-latest
          default: windows-latest
        key:
            type: string
        command:
            type: string
        screenshot:
            type: boolean
            default: false

run-name: devtime-test ${{ inputs.runner }} ${{ inputs.artifact }}

permissions:
  actions: write

jobs:
  debug:
    runs-on: ${{ inputs.runner }}
    steps:
      - uses: actions/upload-artifact@v4
        if: false
      # - uses: humbletim/firestorm-gha/gha-node20-run@tpv-gha-nunja
      #   if: inputs.runner == 'windows-latest'

      - name: Output Inputs
        run: |
          cat <<'EOF' | jq -c . | tee inputs.json
          ${{ toJSON(github.event.inputs) }}
          EOF

      - name: Checkout p373r-vrmod-devtime workspace
        uses: actions/checkout@v4
        with:
          ref: devtime
          path: p373r-vrmod-devtime

      # memorialize the fstuple input for posterity; annotations seem survive longer (ie: > 6 months) than step summaries or raw logs
      - name: annotation
        run: |
          echo "::notice title=inputs::$(jq -c . inputs.json)"
          echo "::notice title=mini-report::$(for id in `ls -1d p373r-vrmod-devtime 2>/dev/null` ; do
            echo -n "$(basename $id)=$(git -C $id rev-parse --short HEAD),$(git -C $id rev-list --count HEAD),$(git -C $id describe --all --always | sed 's@heads/@@'); "
          done)"

      - name: 'apt install clang-19 lld-19 python3-yaml'
        if: startsWith(inputs.runner, 'ubuntu-')
        shell: bash
        run: |
          sudo apt update -qq -o=Dpkg::Use-Pty=0 2>&1 > /dev/null
          sudo apt install -y -qq -o=Dpkg::Use-Pty=0 clang-19 lld-19 gettext-base python3-yaml file eatmydata 2>&1 > /dev/null

      - name: 'xwin-ubuntu'
        if: startsWith(inputs.runner, 'ubuntu-')
        id: xwin-ubuntu
        uses: actions/cache/restore@v4
        with:
            path: bin/xwin
            key: ${{ inputs.runner }}-${{ inputs.key }}-xwin
 
      - name: ' ... xwin-ubuntu'
        id: xwin-ubuntu-fetch
        if: startsWith(inputs.runner, 'ubuntu-') && steps.xwin-ubuntu.outputs.cache-hit != 'true'
        shell: bash
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh --repo humbletim/xwin run download --name xwin-ubuntu --dir bin
          chmod a+x bin/xwin
  
      - name: '/xwin-ubuntu' 
        if: startsWith(inputs.runner, 'ubuntu-') && steps.xwin-ubuntu.outputs.cache-hit != 'true' && steps.xwin-ubuntu-fetch.outcome == 'success'
        uses: actions/cache/save@v4
        with:
            path: bin/xwin
            key: ${{ steps.xwin-ubuntu.outputs.cache-primary-key }}

      - name: 'winsdk'
        if: startsWith(inputs.runner, 'ubuntu-')
        id: winsdk-ubuntu
        uses: actions/cache/restore@v4
        with:
            path: |
              winsdk/readme.env
              winsdk/crt
              winsdk/sdk
              winsdk/vfsoverlay.json
            key: ${{ inputs.runner }}-${{ inputs.key }}-winsdk
 
      - name: ' ... winsdk-ubuntu'
        id: winsdk-ubuntu-fetch
        if: startsWith(inputs.runner, 'ubuntu-') && steps.winsdk-ubuntu.outputs.cache-hit != 'true'
        shell: bash
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          skipxwincheck=1 bash ./p373r-vrmod-devtime/experiments/portables/portable-winsdk.bash
  
      - name: '/winsdk-ubuntu' 
        if: startsWith(inputs.runner, 'ubuntu-') && steps.winsdk-ubuntu.outputs.cache-hit != 'true' && steps.winsdk-ubuntu-fetch.outcome == 'success'
        uses: actions/cache/save@v4
        with:
            path: |
              winsdk/readme.env
              winsdk/crt
              winsdk/sdk
              winsdk/vfsoverlay.json
            key: ${{ inputs.runner }}-${{ inputs.key }}-winsdk
            
      - name: ' ... winsdk-windows'
        id: winsdk-windows-emulate
        if: startsWith(inputs.runner, 'windows-')
        shell: bash
        run: |
          ./p373r-vrmod-devtime/experiments/winsdk.in/other/vs-emulate-xwin.bat

      - name: 'ARTIFACT:'
        id: artifact
        uses: actions/cache/restore@v4
        with:
            path: _snapshot
            key: ${{ inputs.runner }}-${{ inputs.key }}-${{ inputs.artifact }}-artifact
 
      - name: '  download and unpack artifact'
        id: ghdl
        if: steps.artifact.outputs.cache-hit != 'true'
        shell: bash
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh --repo humbletim/firestorm-gha run download --name ${{inputs.artifact}} --dir _snapshot
          inner_dir=$(dirname _snapshot/*/llobjs.rsp.in)
          # mv $inner_dir -iv .
          (
            echo artifact=${{inputs.artifact}}
            echo snapshot_dir=${inner_dir}
            echo base=$(basename ${inner_dir})
            echo prefix=${base//[^[:alnum:]]/-}
          ) | tee -a _snapshot/GITHUB_ENV
  
      - name: '/ARTIFACT' 
        if: always() && steps.artifact.outputs.cache-hit != 'true' && steps.ghdl.outcome == 'success'
        uses: actions/cache/save@v4
        with:
            path: _snapshot
            key: ${{ steps.artifact.outputs.cache-primary-key }}

      - name: '  postprocess _snapshot'
        shell: bash
        run: |
            . _snapshot/GITHUB_ENV
            cat _snapshot/GITHUB_ENV | tee -a $GITHUB_ENV
            set -x
            cmd //c mklink //d "$base" $(cygpath -w "$snapshot_dir") || ln -s "$snapshot_dir" "$base"
            bash -x <(
            cat <<'EOF'
            ${{inputs.command}}
            EOF
            )

      - name: Setup no-frills tmate session
        if: inputs.runner == 'windows-latest'
        uses: ./p373r-vrmod-devtime/.github/nofrills-tmate
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          limit-access-to-actor: true

      - name: Setup fallback tmate session
        if: always()
        uses: mxschmitt/action-tmate@v3
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          limit-access-to-actor: true
