# .github/workflows/manual-debug.yml
name: 'devtime-test'
on:
  workflow_dispatch:
    inputs:
        artifact:
            type: string
            required: true
        key:
            type: string

run-name: devtime-test ${{ inputs.artifact }}

jobs:
  debug:
    runs-on: windows-latest
    steps:
      - uses: actions/upload-artifact@v4
        if: false
      - uses: humbletim/firestorm-gha/gha-node20-run@tpv-gha-nunja
        if: false
      - name: Checkout p373r-vrmod-devtime workspace
        uses: actions/checkout@v4
        with:
          ref: devtime
          path: p373r-vrmod-devtime

      - name: 'ARTIFACT:'
        id: artifact
        uses: actions/cache/restore@v4
        with:
            path: _snapshot
            key: ${{ inputs.key }}-${{ inputs.artifact }}-artifact
 
      - name: '  download and unpack artifact'
        id: ghdl
        if: steps.artifact.outputs.cache-hit != 'true'
        shell: bash
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh --repo humbletim/firestorm-gha run download --name ${{inputs.artifact}} --dir _snapshot
          inner_dir=$(dirname _snapshot/*/llobjs.rsp.in)
          # mv $inner_dir -iv .
          (
            echo artifact=${{inputs.artifact}}
            echo snapshot_dir=${inner_dir}
            echo base=$(basename ${inner_dir})
            echo prefix=${base//[^[:alnum:]]/-}
          ) | tee -a _snapshot/GITHUB_ENV
  
      - name: '/ARTIFACT' 
        if: always() && steps.artifact.outputs.cache-hit != 'true' && steps.ghdl.outcome == 'success'
        uses: actions/cache/save@v4
        with:
            path: _snapshot
            key: ${{ steps.artifact.outputs.cache-primary-key }}

      - name: '  postprocess _snapshot'
        shell: bash
        run: |
            . _snapshot/GITHUB_ENV
            cat _snapshot/GITHUB_ENV | tee -a $GITHUB_ENV
            set -x
            cmd //c mklink //d "$base" $(cygpath -w "$snapshot_dir") || ln -s "$snapshot_dir" "$base"

      - name: Setup tmate session
        uses: ./p373r-vrmod-devtime/.github/nofrills-tmate
        # uses: mxschmitt/action-tmate@v3
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          limit-access-to-actor: true

      - name: Setup fallback tmate session
        if: failure() 
        uses: mxschmitt/action-tmate@v3
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          limit-access-to-actor: true
